<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link href="https://unpkg.com/bonsai.css@latest/dist/bonsai.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">

  </head>
  <body class="body-container open" style="--gtc:0 1fr; --gtc-md:240px 1fr;">

    <header class="header">
      {% include "docs/layouts/partials/header.njk" %}
    </header>

    <aside class="aside" style="--bg:#eceff4; --d:none; --d-md:block">
      {% include "layouts/partials/nav.njk" %}
    </aside>

    <main class="main" style="--p:1rem 2rem">
      {{ content | safe }}
    </main>

    <footer class="footer">
      {% include "docs/layouts/partials/footer.njk" %}
    </footer>

  </body>
</html>
