<div>
<button onclick="menuToggle()">Menu</button>

Site Title etc...
</div>
<script>
window.menuToggle = () => {
  if (document.body.classList.contains('open')) {
    document.body.style.gridTemplateColumns = "0 1fr";
    document.body.classList.remove('open');
    document.querySelector('aside').style.display = 'none';
  } else {
  document.body.style.gridTemplateColumns = "240px 1fr";
    document.body.classList.add('open');
    document.querySelector('aside').style.display = 'block';
  }
}
</script>
