:root {
  --primary: #5e81ac;
  --secondary: #81a1c1;
  --text-main: #2e3440;;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "aside header"
    "aside main"
    "aside footer";
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.main-nav {
  position: sticky;
  top: 0;
  padding-left: 1rem;
}

.main-nav ul {
  list-style: none;
  padding-left: 1rem;
  padding-bottom: .5rem
}

.main-nav > ul {
  list-style: none;
  margin: 0;
  padding-top: 1rem;
}

.main-nav a:hover {
  color: var(--text-bright);
}