<div style="--p: 1rem 2rem;">
<button onclick="menuToggle()" style="--d-md:none; ">Menu</button>

Site Title etc...
</div>
<script>
window.menuToggle = () => {
  if (document.body.classList.contains('open')) {
    document.body.classList.remove('open');
    document.body.style.setProperty('--gtc', '240px 1fr');
    document.querySelector('aside').style.setProperty('--d', 'block');
  } else {
    document.body.classList.add('open');
    document.body.style.setProperty('--gtc', '0 1fr');
    document.querySelector('aside').style.setProperty('--d', 'none');
  }
}
</script>
